﻿<div mat-dialog-content>
   <p>{{data.text}}</p>

</div>
<div mat-dialog-actions>
   <button mat-button [mat-dialog-close]="data.animal"  (click)="data.isOk = true" tabindex="2">Ok</button>
   <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>

