﻿<div class="my-row">
    <div class="col-sm-1">
        <app-carousel></app-carousel>
    </div>
    <div class="col-sm-10">
        <h1>Welcome to Lecturers Conclave</h1>
        <div class="row ">
            <div class="col-sm-4">
                <h3>MISSION</h3>
                <p>TO CREATE A FORUM FOR TEACHERS AND RESEARCHERS IN EVERY ARM OF TERTIARY INSTITUTIONS WORLDWIDE TO
                    CATER FOR A UNIFIED ACADEMIC AND PROFESSIONAL ADVANCEMENT IN EVERY WALK OF LIFE</p>
            </div>
            <div class="col-sm-4">
                <h3>VISION</h3>
                <p>TO BRING TO FOCUS EVERY CONTRIBUTION OF EVERY TEACHER AND/OR RESEARCHER IN EVERY ACADEMIC AND
                    PROFESSIONAL PURSUIT</p>
            </div>
            <div class="col-sm-4">
                <h3>PHILOSOPHY</h3>
                <p>ESTABLISHING AND INCULCATING TRANSPARENCY AND FAIR PLAY IN ACADEMIC AND PROFESSIONAL PURSUIT</p>
            </div>
        </div>
    </div>
    <div class="col-sm-1">
        <app-carousel></app-carousel>
    </div>
</div>
