﻿<ngx-carousel
        [inputs]="carouselBanner"
        [moveToSlide]="1"
        (onMove)="onmoveFn($event)">

   <ngx-item NgxCarouselItem class="bannerStyle"  *ngFor="let advert of adverts;" (click)="open(advert)">
      <div  class="item">
         <div   class="bannerStyle" [ngStyle]="{'background-image': 'url(' + advert.image + ')','min-height': size?'100vh':''}">
         </div>
      </div>
   </ngx-item>


   <div NgxCarouselPrev class="arrow"></div>
   <div NgxCarouselNext class="arrow next"></div>
</ngx-carousel>