.bannerStyle  {
  background-color: #ccc;
  background-size: cover!important;
  background-repeat: no-repeat;
  background-position: center;
  h4{
    min-height: 300px;
    text-align: center;
    line-height: 300px;
  }

}
mat-icon{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  color: #f7f4d5;
  cursor: pointer;
  &:hover{
    color: #fffcdc;
  }
  .next{
    top: 0;
    bottom: 0;
  }
}
.arrow{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/36/Simpleicons_Interface_arrow-angle-point-pointing-to-left-direction.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  &.next{
    right: 0;
    transform: rotate(180deg);
  }
}
.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 50px;
  background: #ff000000;
  outline: none;
  font-size: 19px;
  transform: scale(2);
  border: none;
  border-radius: 999px;
  left: 0;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 50px;
  border-radius: 999px;
  right: 0;
  background: #ff000000;
  outline: none;
  font-size: 19px;
  transform: scale(2);
  border: none;
}