.example-card {
}

.example-header-image {
  background-image: url('https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg');
  background-size: cover;
}

.my-row {
  margin: 30px 0;
  display: flex;
}
/*button{
  margin: 10px;
  background-color: #9ce07e;
  mat-icon{
    color: #1ad0b8;
  }
}*/
.my-card {
  width: 100%;
  padding: 10px;
  min-height: 250px;
  border-radius: 5px;
  -webkit-box-shadow: -2px 2px 21px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -2px 2px 21px 0px rgba(0, 0, 0, 0.15);
  box-shadow: -2px 2px 21px 0px rgba(0, 0, 0, 0.15);
  min-height: 250px;
  &:hover {
    -webkit-box-shadow: -2px 2px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 21px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 2px 21px 0px rgba(0, 0, 0, 0.75);
  }
  .card-body {
    display: flex;
    padding: 10px 0;
  }
  .card-preview {
    width: 190px;
    height: 150px;
    img {
      width: 100%;
    }

  }
  .card-header {
    flex-grow: 1;
    text-align: right;
    .header-top {
    }
  }
  .card-actions {
    padding: 10px 0;
    border-top: 1px solid black;
    clear: both;
    display: flex;
    width: 100%;
  }
}
