﻿<h1>All Publications </h1>
<h4> Members need to upload their papers here</h4>
<div class="my-row">
    <div class="col-sm-3" *ngFor="let post of data.posts;" >

        <div class="my-card"  >
            <div class="card-body">
                <div class="card-preview">
                    <img [src]="post.preview">
                </div>
                <div class="card-header">
                    <h4 class="header-top">{{post.title}}</h4>
                    <p>{{post.description}}</p>
                </div>
            </div>
            <div class="card-actions">
                <button mat-button (click)="checkPayment(post)">Buy</button>
                <!--<button matTooltip="Click to buy!" mat-fab color="green"  [matTooltipPosition]="'above'" (click)="checkPayment(post)">-->
                    <!--<mat-icon  aria-label="Example icon-button with a heart icon">publish</mat-icon>-->
                <!--</button>-->
            </div>
        </div>
    </div>
</div>
