﻿<ul class="nav navbar-nav">
   <li><a [routerLink]="['/account/profile']">Profile</a></li>
   <li><a [routerLink]="['/account/personalpublications']">My Created Publications</a></li>
   <li><a [routerLink]="['/account/store-bought']">My Store-bought Publications</a></li>
   <li><a [routerLink]="['/account/jobs']">My Jobs</a></li>
</ul>
<router-outlet></router-outlet>