.example-container{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  display: inherit;
}
.example-form {

  width: 100%;
}

.example-full-width {
  width: 100%;
}
.login{
  left:50%;
  transform: translate(-50%);
}