﻿
<div class="example-header">
    <h1>List of Transactions </h1>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="publicationId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Publication id </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.publicationId}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.price}} </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="file">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Document </mat-header-cell>
            <mat-cell *matCellDef="let row"> <a  *ngIf="row.file"[href]="row.file" target="_blank">View</a>  </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="createdAt">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Created </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.createdAt|date}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
