.mat-form-field {
  width: 100%;
}

.mat-dialog-content {
  overflow: hidden;
  overflow-y: auto;
}
textarea{
  width: 100%;
}
.file-in{
  text-align: center;
}
img {
  width: 170px;
  &.preview {
    width: 270px;
  }
}
input[type=file]{
  display: none;
}
