﻿
<div class="example-header">
   <h1>List of Users </h1>
   <button mat-raised-button color="primary"  (click)="exportXL()"   >Export(XL)</button>
   <button mat-raised-button color="accent"  (click)="addNewUser()">Add new user</button><br>
   <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
   </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

   <mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
         <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
         <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="email">
         <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
         <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="firstName">
         <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
         <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="lastName">
         <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
         <mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="createdAt">
         <mat-header-cell *matHeaderCellDef mat-sort-header>Created </mat-header-cell>
         <mat-cell *matCellDef="let row"> {{row.createdAt|date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
         <mat-header-cell *matHeaderCellDef  >Actions </mat-header-cell>
         <mat-cell *matCellDef="let row">
            <button mat-raised-button color="primary"(click)="update(row)" [innerText]="row.status ==0?'Ban':'Activate'"></button>
            <button mat-raised-button color="primary" (click)="select(row)"  >Edit</button>
            <button   mat-raised-button color="accent" (click)="remove(row)">Drop</button>
         </mat-cell>
      </ng-container>



      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
   </mat-table>

   <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<div id="exportable" style="display:none">
   <table width="100%">
      <thead>
      <tr>
         <th>Email</th>
         <th>FirstName</th>
         <th>LastName</th>
         <th>Created</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of adminService.users;">
         <td>{{item.email}}</td>
         <td>{{item.firstName}}</td>
         <td>{{item.lastName}}</td>
         <td>{{item.createdAt}}</td>
      </tr>
      </tbody>
   </table>
</div>