﻿<div mat-dialog-content>
    <h1><b>Title:</b> <span [innerText]="data.model.title"></span></h1>
    <h3><b>Created by</b>: <span  >{{data.model.person.firstName}} {{data.model.person.lastName}}</span></h3>
    <h3><b>Created at</b>: <span >{{data.model.createdAt|date}}</span></h3>
    <h3><b>Description</b>:</h3>
    <textarea [ngModel]="data.model.description" rows="4"  class="fil" disabled></textarea>
    <h3><b>Details</b>:</h3>
    <div class="col-sm-12" ><span [innerText]="data.model.details"></span></div>
    <p><img [src]="data.model.preview"></p>
    <button mat-button     (click)="onNoClick()" mat-raised-button color="primary"tabindex="2">CLOSE</button>
</div>


