.example-card {
}

.example-header-image {
  background-image: url('https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg');
  background-size: cover;
}

.my-row {
  margin: 30px 0;
  display: flex;
}
p{
  overflow: hidden;
  text-overflow: ellipsis;
  float: right;
  width: 50%;
}

.my-card {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  min-height: 250px;
  border-radius: 5px;
  -webkit-box-shadow: -2px 2px 21px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -2px 2px 21px 0px rgba(0, 0, 0, 0.15);
  box-shadow: -2px 2px 21px 0px rgba(0, 0, 0, 0.15);
  min-height: 250px;
  &:hover {
    -webkit-box-shadow: -2px 2px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 21px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 2px 21px 0px rgba(0, 0, 0, 0.75);
  }
  .card-body {
    display: flex;
    padding: 10px 0;
  }
  .card-preview {
    width: 190px;
    height: 150px;
    img {
      width: 40%;
      position: absolute;
    }

  }
  .card-header {
    flex-grow: 1;
    text-align: right;
    width: 100%;
    .header-top {
    }
  }
  .card-actions {
    padding: 10px 0;
    border-top: 1px solid black;
    clear: both;
    display: flex;
    width: 100%;
  }
}
