﻿<h1>All Jobs </h1>
<div class="my-row">
    <div class="col-sm-3" *ngFor="let job of data.jobs;" (click)="openJobDialog(job)">
        <div class="my-card"  >
            <div class="card-body">
                <div class="card-preview">
                    <img [src]="job.preview">
                </div>
                <div class="card-header">
                    <h4 class="header-top">{{job.title}}</h4>
                    <p>{{job.description}}</p>
                </div>
            </div>
            <div class="card-actions">
               <h4><b>Owner:</b> {{job.person.firstName}} {{job.person.lastName}}</h4>
            </div>
        </div>
    </div>
</div>
