@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
body{
  font-family: 'Open Sans', sans-serif;
}
.users{
  input[type=text]{
    &.search{
      width: 130px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      background-image: url('https://www.w3schools.com/howto/searchicon.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
      &:focus{
        width: 100%;
      }
    }
  }

}
a{
  cursor: pointer;
}


@media only screen and (max-width:740px){
  .col-sm-3,.col-sm-4,.col-sm-1,.col-sm-9{
    width: 100%;
  }
}
.bannerStyle  {
  min-height: calc(100vh - 293px);
}