﻿<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" [routerLink]="['/']">
                    <!--ONE GOD ASSOCIATE-->
                    <img class="logo" src="../../../assets/img/b6ObhD9nTiqrSWY0Jh4BtA.png">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['']">Home</a></li>
                <li><a [routerLink]="['/account/profile']">Account</a></li>
                <li><a [routerLink]="['/allpublications']">All Publications</a></li>
                <li><a [routerLink]="['/events']">Events</a></li>
                <li><a [routerLink]="['/jobs']">Jobs</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['/account/profile']"> {{userService.USER.firstName}}
                    {{userService.USER.lastName}}{{userService.USER.role}}</a></li>
                <li><a   (click)="logOut()"><span class="glyphicon glyphicon-log-out"></span>
                    Logout</a></li>

            </ul>
        </div>
    </nav>

    <div class="row my-content">
        <div class="col-sm-12">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row my-footer">
        <div class="col-sm-4">
            <h2>ABOUT US</h2>
            <p>
                Onegodassociate started operation in 2004 as a computer vendor and educational consultancy outfit with
                the sole aim of making computer literacy a must among the stakeholders in the academia and promoting
                entrepreneurial activities among the youths
            </p>
        </div>
        <div class="col-sm-4">
            <h2>EXPLORE</h2>
            <h4><a [routerLink]="['/jobs']">Jobs</a> </h4>
            <h4><a [routerLink]="['/events']">Events</a> </h4>
            <h4><a [routerLink]="['/allpublications']">Publications</a> </h4>
        </div>
        <div class="col-sm-4">
            <h2>CONTACT</h2>
            <p>
                548 MRR/KATA Danladi Nasidi Estate, Mariri, Kano State.
            </p>
            <p> +2347066270056</p>
            <p >{{year}} Lecturers Conclave. Developed by <a href="https://www.etechng.com/" target="_blank">E-tech</a></p>
        </div>
    </div>
</div>