.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
.container-fluid{
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar {
  &.navbar-inverse{
    -webkit-box-shadow: -5px 15px 51px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 15px 51px -12px rgba(0,0,0,0.75);
    box-shadow: -5px 15px 51px -12px rgba(0,0,0,0.75);
    background-color: #ececec;
    border: 0;
  }
  .navbar-brand{
    color:  #199cd8;
    font-size: 22px;
    text-shadow: 2px 2px 1px #800000;
    img{
      margin-top: -25px;
    }
  }
}
.container{
  width: 100%;
}
.my-content{
  min-height: calc(100vh - 293px);
}
.my-footer{
  background: #199cd8;
  color: white;
  margin-top: 10px;
  h2{
    border-bottom: 1px solid white;
    padding: 10px 0;
  }
  a{
    color: white;
  }
  p{
    font-size: 16px;
  }
}