.example-container{
  min-width: 150px;
  max-width: 900px;
  width: 100%;
  margin: auto;
  display: inherit;
}
.user-preview{
  width: 150px;
}
input[type=file]{
  display: none;
}
.user-preview,a{
  cursor: pointer;
}
.register{
  left: 50%;
  transform: translate(-50%);
}
.bannerStyle{
  min-height: 100vh!important;
}