﻿<div class="example-container">

    <div class="col-sm-1">
        <app-carousel size="1"></app-carousel>
    </div>
    <div class="col-sm-10" style="height: 100vh">
        <div class="col-sm-8 register">
            <h2>Registration</h2>
            <p>LECTURERS CONCLAVE: A MEETING POINT FOR LECTURERS AND PROSPECTIVE LECTURERS</p>
            <p style="    text-align: center;">
                <img class="user-preview" [src]="model.avatar || confService.DEFAUTL.IMG.AVATAR"
                     (click)="avatar.click()"
                     alt="click to change"/>
                <input type="file" #avatar accept="image/*"/>

                <label> <a (click)="cv.click()">Select CV</a> <span *ngIf="model.cvFile"
                                                                    [innerText]="model.cvFile.name"></span></label>
                <input type="file" accept=".doc,.pdf" #cv/>
            </p>
            <form class="example-form" name="form" [formGroup]="registreForm" novalidate>
                <p>
                    <mat-form-field class="col-md-6">
                        <input matInput placeholder="First Name"
                               autocomplete="off"
                               maxlength="30"
                               [(ngModel)]="model.firstName"
                               formControlName="firstName"
                               [errorStateMatcher]="matcher">
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-error
                                *ngIf="registreForm.controls.firstName.hasError('required')">
                            First Name is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                        <input matInput placeholder="Last Name"
                               autocomplete="off"
                               maxlength="30"
                               [(ngModel)]="model.lastName"
                               formControlName="lastName"
                               [errorStateMatcher]="matcher">
                        <mat-icon matSuffix>person</mat-icon>

                        <mat-error *ngIf="registreForm.controls.lastName.hasError('required')">
                            Last Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field class="col-md-6">
                        <input matInput placeholder="Email"
                               autocomplete="off"
                               maxlength="30"
                               [(ngModel)]="model.email"
                               formControlName="email"
                               [errorStateMatcher]="matcher">
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-error
                                *ngIf="registreForm.controls.email.hasError('email') && !registreForm.controls.email.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="registreForm.controls.email.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-md-6">
                        <input type="tel" matInput placeholder="Telephone"
                               autocomplete="off"
                               maxlength="11"
                               [(ngModel)]="model.telephone"
                               formControlName="telephone"
                               [errorStateMatcher]="matcher">
                        <mat-icon matSuffix>mode_edit</mat-icon>

                        <mat-error *ngIf="registreForm.controls.telephone.hasError('required')">
                            Telephone is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="col-md-6">
                        <input matInput placeholder="Enter your password" [type]="hidePsw ? 'password' : 'text'"
                               autocomplete="off"
                               maxlength="30"
                               [(ngModel)]="model.password"
                               [formControl]="registreForm.controls.password" [errorStateMatcher]="matcher">
                        <mat-icon matSuffix (click)="hidePsw = !hidePsw">{{hidePsw ? 'visibility' : 'visibility_off'}}
                        </mat-icon>
                        <mat-error
                                *ngIf="registreForm.controls.password.hasError('password_match') && !registreForm.controls.password.hasError('required')">
                            Passwords didn`t match
                        </mat-error>
                        <mat-error *ngIf="registreForm.controls.password.hasError('required')">
                            Please enter password
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                        <input matInput placeholder="Repeat your password" [type]="hidePsw ? 'password' : 'text'"
                               autocomplete="off"
                               maxlength="30"
                               [(ngModel)]="model.password_repeat"
                               [formControl]="registreForm.controls.password" [errorStateMatcher]="matcher">
                        <mat-icon matSuffix (click)="hidePsw = !hidePsw">{{hidePsw ? 'visibility' : 'visibility_off'}}
                        </mat-icon>
                        <mat-error
                                *ngIf="registreForm.controls.password.hasError('password_match') && !registreForm.controls.password.hasError('required')">
                            Passwords didn`t match
                        </mat-error>
                        <mat-error *ngIf="registreForm.controls.password.hasError('required')">
                            Please enter password
                        </mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="col-md-6">
                        <input matInput [matDatepicker]="picker" placeholder="Date of birth"
                               [formControl]="registreForm.controls.birthday" [(ngModel)]="model.birthday">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="col-md-6">
                        <input matInput placeholder="Country of birth"
                               autocomplete="off"
                               maxlength="30"
                               [(ngModel)]="model.birthCountry"
                               [formControl]="registreForm.controls.birthCountry">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="col-md-6">
                        <input matInput placeholder="Country of Academic Pursuit"
                               autocomplete="off"
                               maxlength="30"
                               [(ngModel)]="model.profpursuit"
                               [formControl]="registreForm.controls.profpursuit">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <input matInput placeholder="Marrital status"
                               autocomplete="off"
                               maxlength="30"
                               [(ngModel)]="model.marritalStatus"
                               [formControl]="registreForm.controls.marritalStatus">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="col-md-3">
                        <input matInput placeholder="Number of children"
                               type="number"
                               autocomplete="off"
                               maxlength="3"
                               [(ngModel)]="model.childrens"
                               [formControl]="registreForm.controls.childrens">
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                </p>


                <p>

                    <mat-form-field class="col-md-4">
                        <input matInput placeholder="Field of interest"
                               autocomplete="off"
                               maxlength="30"
                               [(ngModel)]="model.interest"
                               [formControl]="registreForm.controls.interest">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <input matInput placeholder="Research"
                               autocomplete="off"
                               maxlength="30"
                               [(ngModel)]="model.research"
                               [formControl]="registreForm.controls.research">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <input matInput placeholder="Profession"
                               autocomplete="off"
                               maxlength="30"
                               [(ngModel)]="model.profession"
                               [formControl]="registreForm.controls.profession">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="col-md-10">
                        <input type="text" placeholder="Qualification" aria-label="Number" matInput
                               [formControl]="registreForm.controls.qualification" [(ngModel)]="model.qualification"
                               [matAutocomplete]="auto">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of els.qualifications" [value]="option">
                                {{ option }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <mat-checkbox class="col-md-2" [formControl]="registreForm.controls.publisher"
                                  [(ngModel)]="model.publisher">Published
                    </mat-checkbox>
                </p>

                <p>
                    <mat-form-field class="col-md-6">
                        <mat-select placeholder="Status" [(value)]="model.statusInputed"
                                    [formControl]="registreForm.controls.statusInputed">
                            <mat-option *ngFor="let status of els.status" [value]="status">
                                {{ status }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="model.statusInputed =='Others'" class="col-md-6">
                        <input matInput placeholder="Status"
                               autocomplete="off"
                               maxlength="50"
                               [(ngModel)]="model.status1"
                               [formControl]="registreForm.controls.status1">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                </p>
                <p class="col-md-12">You will have to pay a one time registration fee of 1000.00 Naira to access this
                    platform</p>
                <p class="col-md-12">
                    <button [disabled]="loading || (!registreForm.valid && registreForm.submitted)"
                            mat-raised-button color="primary" (click)="checkPayment()">Pay and Register
                    </button>
                    <button [routerLink]="['/login']" mat-raised-button color="primary">Log in</button>
                    <img *ngIf="loading"
                         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>

                </p>

            </form>
        </div>
        <div class="col-sm-12" style="     margin-top: 40px;; text-align: center">
            <p><img src="../../assets/img/powered_horizontal_light.png"></p>
            <p >{{year}} Lecturers Conclave. Developed by <a href="https://www.etechng.com/" target="_blank">E-tech</a></p>
        </div>
    </div>
    <div class="col-sm-1">
        <app-carousel size="1"></app-carousel>
    </div>

</div>