
.example-container{
  min-width: 150px;
  max-width: 900px;
  width: 100%;
  margin: auto;
}
.user-preview{
  width: 150px;
}
input[type=file]{
  display: none;
}
.user-preview,a{
  cursor: pointer;
}