﻿<div class="example-container">

    <h2>Profile</h2>
    <p style="    text-align: center;">
        <img class="user-preview" [src]="currentUser.avatar || confService.DEFAUTL.IMG.AVATAR" (click)="avatar.click()" alt="click to change"  />
         <input type="file" #avatar accept="image/*" />

        <label> <a (click)="cv.click()">Select new  CV</a>  <span *ngIf="currentUser.cvFile" [innerText]="currentUser.cvFile.name"></span></label>
        <a  *ngIf="currentUser.cv"[href]="currentUser.cv" target="_blank">CV</a>
        <input type="file"accept=".doc,.pdf"  #cv/>
    </p>
    <form class="example-form" name="form" [formGroup]="userForm" novalidate>
        <p>
            <mat-form-field class="col-md-6">
                <input matInput placeholder="First Name"
                       autocomplete="off"
                       maxlength="30"
                       [(ngModel)]="currentUser.firstName"
                       formControlName="firstName"
                       [errorStateMatcher]="matcher">
                <mat-icon matSuffix>person</mat-icon>
                <mat-error
                        *ngIf="userForm.controls.firstName.hasError('required')">
                    First Name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6">
                <input matInput placeholder="Last Name"
                       autocomplete="off"
                       maxlength="30"
                       [(ngModel)]="currentUser.lastName"
                       formControlName="lastName"
                       [errorStateMatcher]="matcher">
                <mat-icon matSuffix>person</mat-icon>
                <mat-error *ngIf="userForm.controls.lastName.hasError('required')">
                    Last Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field class="col-md-6">
                <input matInput placeholder="Email"
                       autocomplete="off"
                       maxlength="30"
                       [(ngModel)]="currentUser.email"
                       formControlName="email"
                       [errorStateMatcher]="matcher">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error
                        *ngIf="userForm.controls.email.hasError('email') && !userForm.controls.email.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="userForm.controls.email.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-6">
                <input   matInput placeholder="Telephone"
                       autocomplete="off"
                       maxlength="11"
                       [(ngModel)]="currentUser.telephone"
                       formControlName="telephone"
                       [errorStateMatcher]="matcher">
                <mat-icon matSuffix>mode_edit</mat-icon>

                <mat-error *ngIf="userForm.controls.telephone.hasError('required')">
                    Telephone is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="col-md-6">
                <input matInput placeholder="Enter your password" [type]="hidePsw ? 'password' : 'text'"
                       autocomplete="off"
                       maxlength="30"
                       [(ngModel)]="currentUser.password"
                       [formControl]="userForm.controls.password" [errorStateMatcher]="matcher">
                <mat-icon matSuffix (click)="hidePsw = !hidePsw">{{hidePsw ? 'visibility' : 'visibility_off'}}
                </mat-icon>
                <mat-error
                        *ngIf="userForm.controls.password.hasError('password_match') && !userForm.controls.password.hasError('required')">
                    Passwords didn`t match
                </mat-error>
                <mat-error *ngIf="userForm.controls.password.hasError('required')">
                    Please enter password
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6">
                <input matInput placeholder="Repeat your password" [type]="hidePsw ? 'password' : 'text'"
                       autocomplete="off"
                       maxlength="30"
                       [(ngModel)]="currentUser.password_repeat"
                       [formControl]="userForm.controls.password" [errorStateMatcher]="matcher">
                <mat-icon matSuffix (click)="hidePsw = !hidePsw">{{hidePsw ? 'visibility' : 'visibility_off'}}
                </mat-icon>
                <mat-error
                        *ngIf="userForm.controls.password.hasError('password_match') && !userForm.controls.password.hasError('required')">
                    Passwords didn`t match
                </mat-error>
                <mat-error *ngIf="userForm.controls.password.hasError('required')">
                    Please enter password
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="col-md-6">
                <input matInput [matDatepicker]="picker" placeholder="Date of birth"
                       [formControl]="userForm.controls.birthday" [(ngModel)]="currentUser.birthday">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-md-6">
                <input matInput placeholder="Country of birth"
                       autocomplete="off"
                       maxlength="30"
                       [(ngModel)]="currentUser.birthCountry"
                       [formControl]="userForm.controls.birthCountry">
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="col-md-6">
                <input matInput placeholder="Country of Academy/Professional pursuit"
                       autocomplete="off"
                       maxlength="30"
                       [(ngModel)]="currentUser.profpursuit"
                       [formControl]="userForm.controls.profpursuit">
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <input matInput placeholder="Marrital status"
                       autocomplete="off"
                       maxlength="30"
                       [(ngModel)]="currentUser.marritalStatus"
                       [formControl]="userForm.controls.marritalStatus">
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
            <mat-form-field class="col-md-3">
                <input matInput placeholder="Number of children"
                       type="number"
                       autocomplete="off"
                       maxlength="3"
                       [(ngModel)]="currentUser.childrens"
                       [formControl]="userForm.controls.childrens">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
        </p>


        <p>

            <mat-form-field class="col-md-4">
                <input matInput placeholder="Field of interest"
                       autocomplete="off"
                       maxlength="30"
                       [(ngModel)]="currentUser.interest"
                       [formControl]="userForm.controls.interest">
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
            <mat-form-field class="col-md-4">
                <input matInput placeholder="Research"
                       autocomplete="off"
                       maxlength="30"
                       [(ngModel)]="currentUser.research"
                       [formControl]="userForm.controls.research">
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
            <mat-form-field class="col-md-4">
                <input matInput placeholder="Profession"
                       autocomplete="off"
                       maxlength="30"
                       [(ngModel)]="currentUser.profession"
                       [formControl]="userForm.controls.profession">
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="col-md-12">
                <input type="text" placeholder="Qualification" aria-label="Number" matInput
                       [formControl]="userForm.controls.qualification" [(ngModel)]="currentUser.qualification"
                       [matAutocomplete]="auto">
                <mat-icon matSuffix>mode_edit</mat-icon>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of els.qualifications" [value]="option">
                        {{ option }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field class="col-md-6">
                <mat-select placeholder="Status" [(value)]="currentUser.statusInputed"
                            [formControl]="userForm.controls.statusInputed">
                    <mat-option *ngFor="let status of els.status" [value]="status">
                        {{ status }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="currentUser.statusInputed =='Others'" class="col-md-6">
                <input matInput placeholder="Status"
                       autocomplete="off"
                       maxlength="30"
                       [(ngModel)]="currentUser.status1"
                       [formControl]="userForm.controls.status1">
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
        </p>
        <p>

            <mat-form-field   class="col-md-6">
                <input matInput placeholder="SimplePay Gateway private key for recieve the founds"
                       autocomplete="off"
                       maxlength="120"
                       [(ngModel)]="currentUser.simple_pay_gateway_private_key"
                       [formControl]="userForm.controls.simple_pay_gateway_private_key">
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>

        </p>
        <p class="col-md-12">
            <button [disabled]="loading || (!userForm.valid && userForm.submitted)"
                    mat-raised-button color="primary" (click)="update()">Update
            </button>
            <img *ngIf="loading"
                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>

        </p>

    </form>
</div>

